body{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.botao{
}
.gg-redo {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 14px;
    height: 14px;
    border: 2px solid;
    border-right-color: transparent;
    border-radius: 100px
   }
   
   .gg-redo::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-top: 2px solid;
    border-right: 2px solid;
    top: -3px;
    right: -1px;
    transform: rotate(68deg)
   } 

   @import url('https://css.gg/color-bucket.css');

   .gg-erase {
    box-sizing: border-box;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px
   }
   
   .gg-erase::after,
   .gg-erase::before {
    content: "";
    display: block;
    box-sizing: border-box;
   }
   
   .gg-erase::before {
    width: 6px;
    height: 14px;
    border-bottom:
    4px solid transparent;
    border-radius: 1px;
    box-shadow:
    0 0 0 2px,
    inset 0 -2px 0 0;
    left: 7px;
    top: 2px;
    transform: rotate(45deg)
   }
   
   .gg-erase::after {
    background: currentColor;
    width: 12px;
    height: 2px;
    bottom: 0;
    border-radius: 20px
   } 

   .gg-linear {
    display: block;
    position: relative;
    box-sizing: border-box;
    transform: scale(var(--ggs,1));
    width: 18px;
    height: 18px;
    overflow: hidden;
    border-radius: 100px
   }
   
   .gg-linear::after,
   .gg-linear::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 25px;
    height: 25px;
    transform: rotate(-45deg);
    background: currentColor;
    top: -14px;
    left: 4px
   }
   
   .gg-linear::after {
    width: 2px;
    box-shadow:
    -3px 4px 0 0,
    -6px -2px 0 0;
    top: -3px;
    left: 6px
   } 

   button{
       width: 100px;
       height: 25px;
       color: greenyellow;
       background-color: green;
   }