html {
    height: 100vh;
} 

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction:column;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

header h1{
    font-size: 40px;
    color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
    font-weight: bold;
}

header{
    background-color: #292929;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}

main {
    min-height: calc(100vh - 80px - 24px);
    flex: 1;
    background-color: #e6e6e6
    /* background-image: linear-gradient(to top, rgb(0, 0, 0) , rgb(71, 71, 71) , white 10%); */
}

footer{
    background-color: #292929;
    color: white;
    text-align: center;
} 
