
main{
    display:grid;
    grid-template-rows: 10% 75% 15%;
    grid-template-columns: 10% 80% 10%;
}

#telaDeJogadores{
    grid-column: 2;
    grid-row: 2;
    background-color: #292929;
    border-radius: 10px;
    display:grid;
    grid-template-rows: 30% 50% 20%;
    grid-template-columns: 100%;

}

#jogadores{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 5px;
    column-gap: 15px;
}

.jogador {
    margin: 5px;
    text-align: center;
    align-self: center;
    font-size: 25px;
    color: white;
    transition: linear 500ms;
}

#joga1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#joga2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

#joga3 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

#joga4 {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

#joga5 {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}

#joga6 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

#joga7 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

#joga8 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

#joga9 {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
}

#joga10 {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
}

h2 {
    color: white;
    font-size: 40px;
    text-align: center;
    align-self: center;
}

#telaDeJogadores button {
    justify-self: center;
    align-self: center;
    font-size: 25px;
    height: 2em;
    width: auto;
    color: rgb(8, 46, 7);
    background-color: rgb(30, 218, 24);
    font-weight: 700;
}

.meuModal {
    position: fixed;
    width: 15em;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: calc(50% - 97px);
    left: calc(50% - 120px);
    padding: 10px;
    border-radius: 10px;
    z-index: 2;
    transition: linear 500ms;
}

#mask {
    position: fixed;
    top: 0;
    right: 0%;
    left: 0;
    bottom: 0;
    background-color: rgba(109, 109, 109, 0.418);
    z-index: 1;
}

.desaparecer {
    display: none;
    pointer-events: none;
    

}

