<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telefone sem fio</title>
    <link rel="icon" href="imgs/desenho.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estiloGeral.css">
    <link rel="stylesheet" href="css/about.css">
</head>
<body>
    <header>
        <h1>📞DESENHO SEM FIO</h1>
     </header>
    <main>
        <article id="perchuts">
            <img src="imgs/perchuts.png" alt="" class="avatar">
            <h1>Gabriel Lucas</h1>
            <p>Minha praia é jogar um bom CS, programar <del>web</del>, estudar matemática olímpica e ficar à toa na internet.
               Meu maior sonho é estudar e morar fora do país.</p>
        </article>

        <article id="leonidas">
            <img src="imgs/leonidas2.png" alt="" class="avatar">
            <h1>Leônidas José</h1>
            <p>Eu passo o dia inteiro no discord, youtube ou vendo algum anime. Farmar em <a href="https://pt.wikipedia.org/wiki/Jogos_gacha" target="_blank"> gachas</a> 
               já deixou de ser diversão e virou profissão de tanto tempo por dia que eu farmo.</p>
        </article>

        <article id="Helio">
            <img src="imgs/helio.jpg" alt="" class="avatar">
            <h1>Helio Antunes</h1>
            <p>Meu nome é Helio tenho 17 anos,e curso o 1° ano do ensino médio no CEFET-MG, em Belo Horizonte.
               Sou um entusiasta em programação web desde maio de 2019 e de jogos desde pequeno.</p>
        </article>

    </main>
    <footer>

    </footer>
</body>
</html>