<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Telefone sem fio</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estiloGeral.css">
    <link rel="icon" href="imgs/desenho.png">
    <link rel="stylesheet" href="css/books.css">
    <link rel="stylesheet" href="css/estilosImportados.css">
  </head>
  <body>
    <header>
      <h1>📞DESENHO SEM FIO</h1>
    </header>
    <main>
      <div class="grid-container">
        <div id="gridJogadores" class="style-2">
          <h2>Jogadores</h2>
          <div id="display-jogadores">
          </div>
          <div class="botoes sem-aparecer">
            <button type="button" class="btn btn-success enviar impossivel" id="rodada-anterior"><i class="gg-play-track-prev"></i></button>
            <button type="button" class="btn btn-success enviar" id="proxima-rodada"><i class="gg-play-track-next"></i></button>
          </div>
          <div class="botoes sem-aparecer">
            <button type="button" class="btn btn-success enviar impossivel" id="book-anterior"><i class="gg-play-backwards"></i></button>
            <button type="button" class="btn btn-success enviar" id="proximo-book"><i class="gg-play-forwards
              "></i></button>
          </div>
          
        </div>
        <div id="resultados">
            <!-- <div class="frase">
                <h2>Peixutes</h2>
                <span>Godzilla vs king kong</span>
            </div>
            <div class="desenho">
                <h2>lebraga</h2>
                <img src="http://br.web.img2.acsta.net/newsv7/21/01/28/17/01/5846039.jpg" alt="">
            </div> -->
        </div>
      </div>
    </main>
      <footer>
        Participantes: Gabriel Lucas, Helio Antunes, Leônidas José
    </footer>
    <script src="js/books.js"></script>
    <script src="https://kit.fontawesome.com/33818a5a1a.js" crossorigin="anonymous"></script>
  </body>
</html>
