<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Telefone sem fio</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estiloGeral.css">
    <link rel="icon" href="imgs/desenho.png">
    <link rel="stylesheet" href="css/books.css">
    <link rel="stylesheet" href="css/estilosImportados.css">
  </head>
  <body>
    <header>
      <h1>📞DESENHO SEM FIO</h1>
    </header>
    <main>
      <div class="grid-container">
        <div id="gridJogadores" class="style-2">
          <h2>Jogadores</h2>
          <div id="display-jogadores">
          </div>
          <a href="/download" > <button class="btn btn-success">Baixar os books</button></a>
          <div class="botoes sem-aparecer">
            <button type="button" class="btn btn-light enviar impossivel " id="book-anterior"><i class="gg-play-backwards"></i></button>
            <button type="button" class="btn btn-light enviar " id="proximo-book"><i class="gg-play-forwards
              "></i></button>
          </div>
          <div class="botoes sem-aparecer">
            <button type="button" class="btn btn-light enviar" id="proxima-rodada"><i class="gg-play-track-next"></i></button>
            <button type="button" class="btn btn-light enviar sem-aparecer" id="reiniciar-jogo"><i class="gg-redo"></i></button>
            <div id="i-botoes" class="info">
              <i class="gg-info"></i>
            </div>
          </div>
      
        </div>
        <div id="resultados">
            <!-- <div class="frase">
                <h2>Peixutes</h2>
                <span>Godzilla vs king kong</span>
            </div>
            <div class="desenho">
                <h2>lebraga</h2>
                <img src="http://br.web.img2.acsta.net/newsv7/21/01/28/17/01/5846039.jpg" alt="">
            </div> -->
        </div>
      </div>
    </main>
      <footer>
        Participantes: Gabriel Lucas, Helio Antunes, Leônidas Braga
    </footer>

    <div id="infobox-botoes" class="infobox">
      <div><strong>Legenda botões:</strong></div>
      <div><i class="gg-play-backwards informacoes"> </i> Voltar ao álbum anterior.</div>
      <div><i class="gg-play-forwards informacoes"></i>Ir para o próximo álbum.</div>
      <div><i class="gg-play-track-next informacoes"></i>Mostrar próximo item.</div>
      <div><i class="gg-redo informacoes"></i>Reiniciar o jogo.</div>
    </div>

    <script src="js/books.js"></script>
    <script src="js/infoboxbooks.js"></script>
    <script src="https://kit.fontawesome.com/33818a5a1a.js" crossorigin="anonymous"></script>
  </body>
</html>
