<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Download</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #e6e6e6;
        color: white;
        margin: 0;
        padding: 0;
      }

      #resultado {
        background-color: #292929;
        border: 10px solid #292929;
        border-radius: 15px;
      }

      h1 {
        text-align: center;
      }

      p {
        background-color: #3f3f3f;
        border-radius: 5px;
        padding: 1em;
      }

      img {
        outline: 2px solid black;
        width: 100%;
      }
      #baixar {
        visibility: hidden;
      }
    </style>
  </head>
  <body>
    <a href="#" id="baixar" download="albuns <%=data%>.html">Fazer download</a>
    <div id="resultado"></div>
    <script>
      document.body.style.zoom = 0.6;
      let desenhos = JSON.parse("<%=matrix%>".replaceAll("&#34;", '"'));
      let jogadores = "<%=nJogadores%>";
      let resultado = document.querySelector("#resultado");

      for (let i = 1; i <= jogadores; i++) {
        let jogador = document.createElement("h1");
        jogador.innerHTML = `Ãlbum do jogador ${desenhos[i][1][1]}`;
        jogador.classList.add("criador-do-book");
        resultado.appendChild(jogador);
        for (let j = 1; j <= jogadores; j++) {
          let autor = document.createElement("h2");
          autor.classList.add("autor-da-jogada");
          autor.innerHTML = desenhos[i][j][1];
          resultado.appendChild(autor);
          if (desenhos[i][j][0].length > 100) {
            let imagem = document.createElement("img");
            imagem.classList.add("desenho");
            imagem.src = desenhos[i][j][0];
            resultado.appendChild(imagem);
          } else {
            let frase = document.createElement("p");
            frase.innerHTML = desenhos[i][j][0];
            frase.classList.add("frase");
            resultado.appendChild(frase);
          }
        }
      }
      document.querySelector("#baixar").click();
    </script>
  </body>
</html>
