<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Telefone sem fio</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/escreva.css">
    <link rel="stylesheet" href="css/estiloGeral.css">
    <link rel="icon" href="imgs/desenho.png">
  </head>
  <body>
    <header>
      <h1>📞DESENHO SEM FIO</h1>
    </header>
    <main>
      <div id="primeiro" class="escreva">
        <h1>Digite a frase que você quer que seja desenhada!</h1>
        <div class="input-time-box">
          <input type="text" placeholder="Digite aqui..." id="descricao1" maxlength = "100">
          <div class="time-bar" id="tb1"></div>
        </div>
        <button type="button" class="btn btn-success enviar">PRONTO!</button>
      </div>
      <div class="escreva sem-aparecer" id="segundo">
        <img src="" alt="" id="desenho">
            <div class="input-time-box">
              <input type="text" placeholder="Digite o que você entende da imagem..." id="descricao2" maxlength = "100">
              <div class="time-bar" id="tb2"></div>
            </div>
        <button type="button" class="btn btn-success enviar">PRONTO!</button>

        </div>
    </main>
      <footer>
        Participantes: Gabriel Lucas, Helio Antunes, Leônidas Braga
    </footer>

    <div id="saiu-partida" class="meuModal">
      <h2>Reiniciando o Jogo!</h2>
      <div>O jogo será reiniciado pois o jogador <span id="nome-player"></span> abandonou a partida.</div>
    </div>

    <div class="mask"></div>

    <script src="js/game.js"></script>
  </body>
</html>