<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shotcut icon" href="imgs/icontelefone.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telefone sem Fio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilosLobby.css">
    <link rel="stylesheet" href="css/estiloGeral.css">
    <link rel="icon" href="imgs/desenho.png">
    <link rel="stylesheet" href="css/estilosImportados.css">
</head>
<body>
    <header>
        <h1>📞DESENHO SEM FIO</h1>
    </header>
    <main>
        
        <div id="telaDeJogadores">
            <div id="info-modal" class="info">
                <i class="gg-info"></i>
            </div>
            <h2 id="tituloTelaDeJogadores"> Jogadores </h2>
            <div id="jogadores">
            </div>
            <div class ="botoes">
                <button type="button" class="btn btn-success" id="iniciar-lider">INICIAR PARTIDA</button>
                <button id="menu-opcoes"><i class="gg-time"></i></button>
                <button type="button" class="btn btn-success" id="ready">PRONTO!</button>
            </div>
        </div>
        
    </main>
    <footer>
        <a href="/aboutus">Participantes: Gabriel Lucas, Helio Antunes, Leônidas José</a>
    </footer>

    <div id= "nome" class="meuModal">
        <h2>Insira seu nome!</h2>
        <input id="nomeJogador" type="text" maxlength = "15"></input>
        <p id="aviso-nome">Já existe uma pessoa com este nome na sala! Por favor, escolha outro nome.</p>
    </div>

    <div id="menu" class="meuModal ">
        <div>
            <label for="select-tempo"><i class="gg-time"></i></label>
            <select id="select-tempo">
                <option value="longo">Devagar</option>
                <option value="medio">Normal</option>
                <option value="curto">Rápido</option>
            </select>
        </div>
        <span><strong>Selecione como começar:</strong></span>
        <div id="radio">
            <label><input type="radio" name="modo" id="desenho"> Desenho</label>
            <label><input type="radio" name="modo" id="frase" checked> Frase</label>
        </div>
    </div>

    <div id="tutorial" class="meuModal">
        <h2>Como jogar o jogo?</h2>
        <div>
            Este jogo é muito simples, cada jogador deverá escrever uma frase ou fazer um desenho no início.
            o Jogador que receber esta entrada deverá também fazer um desenho ou escrever o que enxerga.
        </div>
        <div>
            No fim do jogo, todos desenhos e frases são mostradas em sequência para saber o resultado final!
        </div>
    </div>
    
    <div class="mask"></div>
    <div class="mask"></div>
    <div class="mask"></div>

    <script src="https://kit.fontawesome.com/33818a5a1a.js" crossorigin="anonymous"></script>
    <script src="js/lobby.js"></script>
</body>
</html>
