
main{
    display:flex;
}
.grid-container{
    margin: 50px;
    display: grid;
    flex:1;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: auto 1fr;
    border: solid 2px black;
}
#gridJogadores{
    /* font-size:50; */
    grid-area: 1 / 1 / 3 / 1;
    
    background: #292929;
    color:white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
}

#gridJogadores > *{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0;
}

#gridJogadores ul{
    list-style: none;
    padding-left: 0;
}

#gridRecebido{
    display: flex;
    justify-content: center;
    /* display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 10px; */
    background: #777777; 
    font-size:40px;
}

.seletor-ferramentas-basicas{
    color:white;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / 3;
    align-items: center;
    height: 100%;
}

#gridCanvas{
    display:grid;
    border: 1px solid black;
}

#canvas,#canvas-transparente{
    grid-row:1;
    grid-column:1;
    cursor: crosshair;
}

.aparece{
    z-index:1;
}

#gridControles{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background: #292929;
    display: grid;
    grid-template-rows: auto 2em auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.cor-container {
  border: rgba();
  width: 4em;
  height: 4em;
  border-radius: 5px;
  overflow: hidden;
  grid-column: 1 / 3;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
  position: relative;
}

#pack-de-cores{
    justify-self: center;
    row-gap: .25em;
    column-gap: .25em;
    grid-area: 3 / 1 / 3 / 3;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.cores-dir{
  justify-self: start;
}
.cores-esq{
  justify-self: end;
}
.cores-centro{
    justify-self: center;
}
.cor {
  cursor: pointer;
  width: 2em;
  height: 2em;
  border-radius: 5px;
  border: 2px solid rgb(255, 255, 255);
}

.cor-container:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
    pointer-events: none;
  }

.tolerancia-container {
    grid-row: 3 / 4;
}

input[type="color"] {
  border: 0;
  padding: 0;
  width: 200%;
  height: 200%;
  cursor: pointer;
  transform: translate(-25%, -25%)

}

#refazer{
    /* position: absolute; */
    border-radius: 8px;
    /* bottom: 67%; */
    /* left: 90%; */
}

#desfazer{
    /* position: absolute; */
    border-radius: 8px;
    margin-right: 1em;
    /* bottom: 67%; */
    /* left: 85%; */
}

#borracha{
    /* position: absolute; */
    border-radius: 8px;
    /* bottom: 70%; */
    /* left: 85%;  */
}

#seletor-container{
    /* position: relative; */
    border-radius: 8px;
    /* top: 10%; */
    /* left: 85%;  */
}
 
#seletor-espessura {
    width: 100%;
}

#tolerancia {
    width: 100%;
}

.seletor-desfazer-refazer {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    height: 2em;
}

button:focus {
    outline: none;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  [type=radio] + div {
    cursor: pointer;
  }
  
  [type=radio]:checked + div {
    background-color: #218221;
    border-radius: 5px;
    box-shadow: black 1px 1px;
  }
  

  .seletor-container {
    grid-column: 1 / 3;
}

.botao{
    justify-self: center;
    height: 30px;
    width: 30px;
}

button.btn.btn-success {
    justify-self: center;
    align-self: center;
    grid-column: 1 / 3;
}

.botao div{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    cursor: pointer;
}

i {
    align-self: center;
}

#refazer.impossivel{
    cursor: default;
    opacity: 0.5;
}

#desfazer.impossivel{
    cursor: default;
    opacity: 0.5;
}

#sozinho{
    grid-area: 2 / 1 / 2 / 3;
    justify-self: center;
    color:white;
}

@media (max-width: 1400px){
    .cor{
        width: 1.5em;
        height: 1.5em;
    }
}