main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.escreva {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #292929;
  width: 70%;
  border-radius: 10px;
}

.sem-aparecer {
  display: none;
}

img {
  max-width: 70%;
  max-height: 50vh;
  justify-self: center;
  margin-top: 0.5em;
}

input {
  width: 100%;
  margin: 1em;
  padding: 0.5em;
  margin-bottom: 0;
}
button {
  margin-bottom: 0.5em;
}

h1 {
  color: white;
  margin: 0.5em;
}
.time-bar {
  transition: all 50ms linear;
  transform-origin: left center;
  height: 12px;
  float: left;
  width: 100%;
  background-color: green;
  margin-bottom: 20px;
}

.input-time-box {
  display: flex;
  flex-direction: column;
  width: 90%;
  /* align-items: center; */
}

#descricao1,
#descricao2 {
  align-self: center;
}

#saiu-partida > h2 {
  text-align: center;
}
