html {
    height: 100vh;
} 

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction:column;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

header h1{
    font-size: 40px;
    color: white;
    margin: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    align-self: center;
    font-weight: bold;
}

header{
    background-color: #292929;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}

main {
    min-height: calc(100vh - 80px - 24px);
    flex: 1;
    background-color: #e6e6e6
}

footer{
    background-color: #292929;
    color: white;
    text-align: center;
} 
.coroa{
    height:1px;
    margin-left: 10px;
    color:gold;
}
.pronto {
    color:#28a745;
}