
main{
    display:grid;
    grid-template-rows: 5% 88% 7%;
    grid-template-columns: 5% 90% 5%;
}

#telaDeJogadores{
    grid-column: 2;
    grid-row: 2;
    background-color: #292929;
    border-radius: 10px;
    display:grid;
    grid-template-rows: 25% 60% 15%;
    grid-template-columns: 100%;
    position: relative;

}

#jogadores{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 5px;
    column-gap: 15px;
    overflow-y: auto;
}

.jogador {
    margin: 5px;
    align-self: center;
    font-size: 25px;
    color: white;
    transition: linear 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    color: white;
    font-size: 40px;
    text-align: center;
    align-self: center;
}

#telaDeJogadores button {

    font-size: 25px;
    height: 2em;
    /* color: rgb(8, 46, 7); */
    /* background-color: rgb(30, 218, 24); */
    font-weight: 700;
}

.meuModal {
    opacity: 0;
    transform: translateY(-1000px);
    position: fixed;
    background-color: gray;
    width: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: calc(50% - 97px);
    left: calc(50% - 120px);
    padding: 10px;
    border-radius: 10px;
    z-index: 2;
    transition: cubic-bezier(0.2, -0.65, 0, 1.52) 1000ms;
    pointer-events: none;
}

.mask {
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0%;
    left: 0;
    bottom: 0;
    background-color: rgba(109, 109, 109, 0.418);
    z-index: 1;
    pointer-events: none;
}

.aparecer {
    opacity:1;
    pointer-events: all;
    transform: translateY(0px);

}



#aviso-nome {
    display:none;
    margin-top: 1em;
    color: white;

}



.botoes {
    
    display:flex;
    justify-content: space-evenly;
   
}

#iniciar-lider {

    display: none;

}

#pen-container { 

    display: flex;
    width: 30px;
    height: 30px;
    align-self: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 0.3em;

}

#pen-container:hover{
    opacity: 0.5;
}
#pincel{
    pointer-events: none;
}

i.coroa{
    height: 30px;
    width: 30px;
    margin-left: 0.3em;
    align-items: center;
    display: flex;
}

footer a{
    color:white;
}
footer a:hover{
    opacity:0.5;
    color: white;
}
footer a:active{
    color: rgb(255, 255, 255);
}

#menu-opcoes{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

#menu-opcoes:focus{
    border: 2px solid rgba(0, 0, 0, 0.5);
    outline: none;
}

#menu{
    color:white
}

#menu > *{
    margin-bottom: 1em;
}

#menu > div {
    display: flex;
    align-items: center;
}

#menu > div > *{
    margin-left: 5px;
}

#select-tempo{
    margin-left: 7px;
    border-radius: 20px;
    flex: 1;
}

#menu > div > label{
    margin-bottom: 0;
}

#radio{
    display: flex;
    justify-content: space-around;
}

#mask2{
    display: none;
}

.info{
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

#tutorial{
    width: 30%;
    left: calc(50% - 15%);
    color: white;
}

#tutorial > div{
    margin-bottom: 1em;
}
