
main{
    display:grid;
    grid-template-rows: 5% 88% 7%;
    grid-template-columns: 5% 90% 5%;
}

#telaDeJogadores{
    grid-column: 2;
    grid-row: 2;
    background-color: #292929;
    border-radius: 10px;
    display:grid;
    grid-template-rows: 30% 60% 20%;
    grid-template-columns: 100%;

}

#jogadores{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 5px;
    column-gap: 15px;
}

.jogador {
    margin: 5px;
    text-align: center;
    align-self: center;
    font-size: 25px;
    color: white;
    transition: linear 500ms;
}
h2 {
    color: white;
    font-size: 40px;
    text-align: center;
    align-self: center;
}

#telaDeJogadores button {

    font-size: 25px;
    height: 2em;
    width: auto;
    /* color: rgb(8, 46, 7); */
    /* background-color: rgb(30, 218, 24); */
    font-weight: 700;
}

.meuModal {
    opacity: 0;
    position: fixed;
    background-color: gray;
    width: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: calc(50% - 97px);
    left: calc(50% - 120px);
    padding: 10px;
    border-radius: 10px;
    z-index: 2;
    transition: linear 500ms;
    pointer-events: none;
}

.mask {
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0%;
    left: 0;
    bottom: 0;
    background-color: rgba(109, 109, 109, 0.418);
    z-index: 1;
    pointer-events: none;
}

.aparecer {
    opacity:1;
    pointer-events: all;

}

.pronto {
    color:#28a745;
}

#aviso-nome {
    display:none;
}

i {
    margin-left: 10px;
    color:gold;
}

.botoes {
    
    display:flex;
    justify-content: space-evenly;
   
}

#leader-start{

    display: none;

}